<a href="https://colab.research.google.com/github/subhan215/deep-learning-assignment/blob/main/Car_Price_Prediction_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

Problem Statement:: A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car How well those variables describe the price of a car Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

task::

We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

WORKFLOW :: 1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it) 6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

In [2]:
from google.colab import files
uploaded = files.upload()

Saving CarPrice_Assignment.csv to CarPrice_Assignment (2).csv

In [3]:
import io

In [4]:
import pandas as pd
data = pd.read_csv(io.BytesIO(uploaded['CarPrice_Assignment.csv']))

In [5]:
data

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [6]:
data[['car_ID', 'symboling']] = data[['car_ID', 'symboling']].astype('object')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    object
 1   symboling         205 non-null    object
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(6), object(12)
memory usage: 41.8+ KB

In [7]:
data_numeric = data.select_dtypes(include=['float64', 'int'])
data_numeric.head()

   wheelbase  carlength  carwidth  ...  citympg  highwaympg    price
0       88.6      168.8      64.1  ...       21          27  13495.0
1       88.6      168.8      64.1  ...       21          27  16500.0
2       94.5      171.2      65.5  ...       19          26  16500.0
3       99.8      176.6      66.2  ...       24          30  13950.0
4       99.4      176.6      66.4  ...       18          22  17450.0

[5 rows x 14 columns]

In [8]:
data_numeric.shape

(205, 14)

In [9]:
# Splitting data
from sklearn.model_selection import train_test_split
train, test = train_test_split(data_numeric, test_size=0.30)

In [10]:
print(train.shape)
print(test.shape)

(143, 14)
(62, 14)

In [11]:
#Splitting labels
train_labels = train.pop("price")
test_lables = test.pop("price")

In [12]:
#normalizing the data
mean = train.mean(axis=0)
train -= mean
std = train.std(axis=0)
train /= std
test -= mean
test /= std

In [31]:
#Validatioin data split
vaildation_data = train[:28]
validation_labels = train_labels[:28]

train = train[28:]
train_labels = train_labels[28:]

(62,)

In [14]:
from keras import layers 
from keras import models
def build_model():
  model = models.Sequential()
  model.add(layers.Dense(10, activation='relu', input_shape =(train.shape[1],)))
  model.add(layers.Dense(8, activation='relu'))
  model.add(layers.Dense(6, activation='relu'))
  model.add(layers.Dense(1))

  model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])
  return model

In [15]:
all_mae = []
model = build_model()
model.fit(train, train_labels, epochs=100, batch_size=1 , verbose=0)
val_mse, val_mae = model.evaluate(vaildation_data, validation_labels, verbose=0)
all_mae.append(val_mae)

In [16]:
val_mae

2021.1170654296875